/*новый год*/
.skin-christmas .head-img{
    height: 50px;
    margin-top: 3px;
    content:url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
    background: url('/holidays/christmas/elka.png') no-repeat;
    background-size: 46px;
    position: absolute;
}
.skin-christmas .main-sidebar{
    background-color: #f5f5f5;
}
.skin-christmas #primary-content{
    background-color: #e4e4e4;
    background-image: url('/holidays/christmas/s1.png'), url('/holidays/christmas/s2.png'), url('/holidays/christmas/s3.png');
    z-index:1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}

/*.skin-christmas #center-index-box {
    background-image: url(/holidays/christmas/tdm.gif);
    background-repeat: no-repeat;
    height: 500px;
}*/
.skin-christmas .navbar.navbar-static-top{
    background-image: url(/holidays/christmas/lenta.png);
    background-size: contain;
    background-color: #3c8dbc;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
