.content-header>.breadcrumb{
    float: initial !important;
    background: transparent;
    margin-bottom: -15px !important;
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
}
.non-resizable{
    resize: vertical;
}
.max-width-fulls *{
    max-width: 100% !important;
}
.content .well *{
    max-width: 100%;
}
.units-index a{
    margin: 5px;
}
.row-cols{
    margin-left: 0;
    margin-right: 0;
}
.padding-10{
    padding: 10px !important;
}
.ml-15{
    margin-left: 15px;
}
.modal-body{
    display: block;/*inline-*/
}
.mce-label.mce-charactercount {
    position: absolute;
    top: 0;
    right: 170px;
    padding: 8px;
}
/*
 * структура
 */
#selectedStructuresListForm .structure-remove {
    display: none;
}
.structure-mini-photo {
    width: 50px;
    float: left;
    margin-right: 5px;
}
a.structure-remove {
    position: relative;
    left: -15px;
}
.structure-list-main .fa-times{
    display: none;
}
.selected{
    background: red !important;
}
.selected-border{
    border: 3px solid #f39c12 !important;
}
.box-notelist {
    cursor: pointer;
}
.dd-list .label{
    font-size: 12px;
}
.selectedStructureElement{
    padding: 5px 10px 5px ;
}
/*
 * конец структура
 */
.user-margin{
    margin: 5px 0 5px;
}
.entity-report-oneview{
    margin: 15px 0;
    font-size: 16px;
}
.widget-online-user-one{
    margin-bottom: 10px;
}
.panelHover{
    border: 1px solid;
}
/*
* доп бустрап стелки
*/
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.pagesizeselect{
    width: auto;
    display: inline-block;
    margin-top: 20px;
    float: left;
}
/*
* доп бустрап стелки конец
*/
.sidebar-menu .treeview-menu li span{
    white-space: normal;
}
.center-over-all{
    position: absolute;
    width: 100%;
    background: rgba(25,23,23,0.5);
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
}
.center-over-all .kv-spin-center{
    position: absolute;
    top: 50%;
    left: 50%;
}
.panel .nav .row div{
    padding: 0px 15px 10px;
}
.fc-widget-content .fc-day-grid-container{
    height: 100% !important;
}
/*фиксация менюх*/
.main-header {
    position: fixed !important;
    width: 100%;
}
.content-wrapper, .right-side{
    margin-top: 50px;
}
/*endфиксация менюх*/
.text-from-redactor *{
    max-width: 100%;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu, .navbar-nav>.messages-menu>.dropdown-menu>li .menu, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu{
    max-height: 410px;
}
.user-panel>.image img {
    max-width: 45px;
    height: auto;
}
.alert ul li{
    font-size: 16px;
}
a[href="#totop"] { 
    cursor: pointer;
    display: none;
    bottom: 50px;
    position: fixed !important;
}
/*draggable-map*/
.drag {
    position: absolute;
    min-width: 100px;
    width: initial;
}
/*end draggable-map*/
.qtip-bootstrap .qtip-content {
    padding: 0;
}
.qtip .well{
    padding: 0;
    margin-bottom: -20px;
}
.admin-btn{
    background-color: blueviolet;
    border: 1px solid red;
}
.block-box-label label {
    display: block;
}
.padding-left-0{
    padding-left: 0 !important;
}

@media (max-width: 680px){
    .messages-block .redactor-toolbar{
        display: none;
    }
}
@media (max-width: 767px){    
    .content-wrapper {
        margin-top: 50px;
    }
    .main-sidebar, .left-side {
        padding-top: 50px;
    }
    .main-header .logo {
        display: none !important;
    }
    .linkbehindusertop{
        display: block !important;
    }
    .navbar-nav>.notifications-menu>.dropdown-menu, .navbar-nav>.messages-menu>.dropdown-menu, .navbar-nav>.tasks-menu>.dropdown-menu{
        width: 280px;
    }
    #list-messages .box-body{
        height: inherit;
    }
    .content{
        padding: 0 !important;
    }
    .col-sm-6, .col-md-6{
        padding: 0;
    }
    .right .direct-chat-text{
        margin-right: 0 !important;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .col-sm-6, .col-md-6{
        padding: 0 5px;
    }
    .content{
        padding: 0 5px;
    }
}

/*
 * test удалить
 */
.messages_root {
    width: 700px;
    height: 500px;
}
.messages_dialog {
    overflow: auto;
    height: 500px;
}
.messages_dialogs_list {
    width: 30%;
    background: #b8dcf2;
    height: 100%;
}
.messages_dialog_container {
    width: 70%;
}
.messages_dialogs_list ul li {
    height: 30px;
}
.messages_dialogs_list ul li:hover {
    background: #fef1ec;
}
.messages_dialog{
    
}
.messages_message{
    min-height: 50px;
    border-bottom: 1px solid orange;
}
.messages_message p *{
    max-width: 80%;
}
.messages_message:hover{
    background: orange;
}
.messages_dialog_active {
    background: #e6ceae;
}
.message_from_photo{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
}