/**
 * стили для модуля сайтов, tinymce
 */
blockquote {
    border: 1px dashed gray;
}
blockquote:before {
    content: 'цитата';
    font-size: 16px;
    font-style: italic;
    color: gray;
}
tr td {
    border: 1px solid;
} 
caption {
    border: 1px solid;
}
tr th {
    border: 1px solid;
}

.b-article__text:before {
    content: 'сноска';
    font-size: 16px;
    font-style: italic;
    color: gray;
    display: block;
}
.b-article__text {
    border: 1px solid;
}
.b-article__chapter {
    border: 1px solid;
    padding: 0 15px;
}
.b-article__chapter:before {
    content: 'Блок с информацией. Можно все использовать, это всего лишь обертка';
    font-size: 16px;
    font-style: italic;
    color: gray;
    display: block;
}